//>1440px
@media (min-width: 1440px) {
}
//(1200 and 1439px)
@media (max-width: 1439px) {
  body {
    width: 1200px;
  }
  .container {
    width: 1160px;
  }
  .portfolio {
    height: 1320px;
    &__block {
      grid-template-columns: 375px 375px 375px;
      grid-template-rows: repeat(auto-fit, 470px);
      gap: 20px;
    }
  }
  .video {
    height: 825px;
    .mix {
      width: 100%;
      height: auto;
    }
  }
  .price {
    &__item {
      width: 370px;
    }
  }
}
//(992 and 1199px)
@media (max-width: 1199px) {
  body {
    width: 992px;
  }
  .container {
    width: 952px;
  }
  .header {
    &__logo {
      width: 40px;
      height: 40px;
    }
  }
  .skill-card {
    width: 300px;
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 16px;
      padding: 0 10px;
    }
  }
}
//(768 and 991px)
@media (max-width: 991px) {
}
//(576px and 767px)
@media (max-width: 767px) {
}
//(450px mand 575px)
@media (max-width: 575px) {
}
//(320px and 449px)
@media (max-width: 449px) {
}
